/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --main: #fc0;
    --bg: #f8f8f8;
}

body {
    font-family: 'Montserrat', sans-serif;
}


#wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: 
    "nav nav"
    "main-content main-content"
    "footer footer";
}


.main-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main-content;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main-container.bg {
    background-color: #f8f8f8;
}


.nav-bar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav-bar > .link {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;

    /* links effect */

    background: -webkit-gradient(
      linear,
      left top, right top,
      from(rgba(100, 200, 200, 0)),
      to(rgba(100, 200, 200, 0))
    ),
    -webkit-gradient(
      linear,
      left top, right top,
      from(var(--main)),
      color-stop(var(--main)),
      to(var(--main))

  );

    background: -o-linear-gradient(
      left,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    -o-linear-gradient(
      left,
      var(--main),
      var(--main),
      var(--main)

  );

    background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      var(--main),
      var(--main),
      var(--main)

  );
  
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 90%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 400ms;
  -o-transition: background-size 400ms;
  transition: background-size 400ms;

}

.nav-bar > .link:hover {
    background-size: 0 3px, 100% 3px;

}

/* HOME PAGE */

.hero-container {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./img/hero-cover.jpg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/hero-cover.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/hero-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100vw;

}

.hero-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;

}

.hero-text h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.underline {
    width: 200px;
    height: 3px;
    background-color: var(--main);
}

.hero-text p {
    margin: 20px 0px;

}

.cta-btn {
    display: inline-block;
    padding: 10px 50px;
    background-color: var(--main);
    color: black;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
 
}

.hero-text a:hover {
    background-color: rgba(255, 204, 0, 0.8);
}


footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


}

footer a {

    display: inline-block;
    grid-column: 1 / -1;
    text-decoration: none;
    color: black;
    /* margin: 5px auto; */

}

/* ABOUT US PAGE */

.cards {
   
    display: -ms-grid;
   
    display: grid;
    -ms-grid-columns: 800px;
    grid-template-columns: 800px;
    justify-items: center;
    overflow: hidden;
    min-height: calc(90vh - 80px);
    background-color: white;
    margin: 40px 0px;

}

.card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 300px;
    grid-template-rows: 300px;
    overflow: hidden;
    place-items: center center;
}

.card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.card-info {
    text-align: center;
    padding: 30px;
}

.card-info h2, .dish-info h2 {
    color: var(--main);
    cursor: pointer;
}

.card-info p, .dish-info p {
    font-size: .9rem;
    color: gray;
    line-height: 25px;
}

.card.reverse img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}


.card img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    cursor: pointer;
}


/* MENU PAGE */

.menu-container {
    width: 80vw;
    min-height: calc(90vh - 80px);
    margin: 40px 0px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    
}

.menu-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.dish {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr;
    grid-template-columns: 150px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
 
    -webkit-box-align: center;
 
        -ms-flex-align: center;
 
            align-items: center;
    /* justify-items: center; */
    overflow: hidden;
    background-color: white;

}

.dish > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

.dish > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;

}

.dish-info {
    padding: 30px;
}

.dish img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

@media (max-width: 1000px) {


    .menu-container {
        width: 90vw;

    }

}

@media (max-width: 850px) {

    .cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin: 0px 20px;
    }

    .card {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    } 

    .card.reverse img {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .card img {
        width: 500px;
        height: 500px;
    }

}

@media (max-width: 400px) {

    .link {
        font-size: .8rem;
    }

    .hero-text h2 {
        font-size: 2.3rem;
    }

    .dish-info {
        text-align: center;
        padding: 0 0 20px 0;
        font-size: .8rem;
    }

    .menu-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

}
