*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #fc0;
    --bg: #f8f8f8;
}

body {
    font-family: 'Montserrat', sans-serif;
}


#wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav nav"
    "main-content main-content"
    "footer footer";
}


.main-container {
    grid-area: main-content;
    display: grid;
    justify-content: center;
}

.main-container.bg {
    background-color: #f8f8f8;
}


.nav-bar {
    grid-area: nav;
    display: flex;
    justify-content: center;
}

.nav-bar > .link {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;

    /* links effect */

    background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      var(--main),
      var(--main),
      var(--main)

  );
  
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 90%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

}

.nav-bar > .link:hover {
    background-size: 0 3px, 100% 3px;

}

/* HOME PAGE */

.hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/hero-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100vw;

}

.hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    
 

}

.hero-text h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.underline {
    width: 200px;
    height: 3px;
    background-color: var(--main);
}

.hero-text p {
    margin: 20px 0px;

}

.cta-btn {
    display: inline-block;
    padding: 10px 50px;
    background-color: var(--main);
    color: black;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
 
}

.hero-text a:hover {
    background-color: rgba(255, 204, 0, 0.8);
}


footer {
    grid-area: footer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

footer a {

    display: inline-block;
    grid-column: 1 / -1;
    text-decoration: none;
    color: black;
    /* margin: 5px auto; */

}

/* ABOUT US PAGE */

.cards {
   
    display: grid;
    grid-template-columns: 800px;
    justify-items: center;
    overflow: hidden;
    min-height: calc(90vh - 80px);
    background-color: white;
    margin: 40px 0px;

}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    overflow: hidden;
    place-items: center center;
}

.card-info {
    text-align: center;
    padding: 30px;
}

.card-info h2, .dish-info h2 {
    color: var(--main);
    cursor: pointer;
}

.card-info p, .dish-info p {
    font-size: .9rem;
    color: gray;
    line-height: 25px;
}

.card.reverse img {
    order: -1;
}


.card img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    cursor: pointer;
}


/* MENU PAGE */

.menu-container {
    width: 80vw;
    min-height: calc(90vh - 80px);
    margin: 40px 0px;
    display: grid;
    align-content: center;
    
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.dish {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
    /* justify-items: center; */
    overflow: hidden;
    background-color: white;

}

.dish-info {
    padding-right: 30px;
}

.dish img {
    max-width: 100%;
    object-fit: cover;
}

@media (max-width: 1000px) {


    .menu-container {
        width: 90vw;

    }



}

@media (max-width: 850px) {

    .cards {
        grid-template-columns: 1fr;
        margin: 0px 20px;
    }

    .card {
        grid-template-columns: 1fr;
    } 

    .card.reverse img {
        order: 0;
    }

    .card img {
        width: 500px;
        height: 500px;
    }

}

@media (max-width: 400px) {


    /* .cards {
        grid-template-columns: 1fr;
        margin: 0px 20px;
    }

    .card {
        grid-template-columns: 1fr;
        
    } 

    .card.reverse img {
        order: 0;
    }

    .card img {
        width: 500px;
        height: 500px;
    } */

    .hero-text h2 {
        font-size: 2.5rem;
    }

    .dish-info {
        text-align: center;
        padding: 0 0 10px 0;
    }

    .menu-list {
        grid-template-columns: 1fr;
    }


 



}

